@import  '../../fonts.scss','../../common.scss';
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 88px;
  background-color: #f8f9fa;
  // border-bottom: 1px solid #ddd;

  &-logo {
    display: flex;
    align-items: center;

    img {
      height: 30px;
     
    }

    span {
      font-size: 1.2rem;
      font-weight: 600;
      color: #000;
    }
  }

  &-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 20px;

      a {
        text-decoration: none;
        color: #7B8794;
        font-size: 18px;
        font-weight: 600;
        transition: color 0.5s;

        &:hover {
          color: #315796;
        }
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;

    .personal-cabinet {
      background-color: unset;
      color: #315796;
      font-size: 22px;
      font-weight: 600;
      padding:9px 13px;
      border-radius: 5px ;
      border: solid 1px #315796;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: #fff;
        background-color: #315796;
      }
    }

    .language {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    
      img {
        margin-right: 8px;
        margin-left: 40px;
      }
    
      .ru {
        color: #315796;
        font-size: 18px;
        font-weight: 600;
        transition: opacity 0.3s;
      }
    
      .uz {
        color: #7B8794;
        font-size: 18px;
        font-weight: 600;
        margin-left: 5px;
        opacity: 0; /* Initially hidden */
        transition: opacity 0.3s;
      }
    
      &:hover {
       .uz {
          opacity: 1; /* Show UZ on hover */
        }
      }
    }
  }
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
 
}

.popup {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #315796;
}

.popup p {
  font-size: 16px;
  color: #41474d;
  margin-bottom: 20px;
}

.phone-input input {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.popup-submit {
  background-color: #315796;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #003d99;
  }
}